<!DOCTYPE html>
<html lang="pt" data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    {# <link href="http://fonts.googleapis.com/css?family=Heebo" rel="stylesheet"> #}
{#    <link href="http://{{ url }}/static/css/styles.css" rel="stylesheet">#}
</head>
<body>
<div class="rodape">
    <div class="rodape-col-md-2">
{#        <img style="height: 50px" align="left" src="http://{{ url }}/static/img/logo.png"/>#}
    </div>
    <div class="rodape-col-md-10">
        <div class="row-rodape">Application</div>
        <div class="row-rodape">www.company.com.br</div>
        <div class="row-rodape">Company - (99) 9999-9999</div>
    </div>
</div>
</body>
</html>