<!DOCTYPE html>
<html lang="pt" data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <base href="/">
    <title>Demo Report</title>
    <meta name="description" content="Layout Online"/>
{#    <link href="http://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">#}
{#    <link href="http://{{ url }}/static/css/styles.css" rel="stylesheet">#}
</head>
<body>
    <div class="container w-auto-xs wrapper-md ng-scope">
        <div class="wrapper-md">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>